.modal {
    position: fixed;
    z-index: 200;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba($color: #000000, $alpha: 0.8);
    box-sizing: border-box;

    &-container {
        display: flex;
        justify-content: space-between;
        height: 100%;
        box-sizing: border-box;

        &-left {
            width: 50%;
            height: 100%;

            @include XL {
                width: 35%;
            }

            @include L {
                width: 25%;
            }

            @include M {
                width: 15%;
            }

            @include S {
                width: 0;
            }
        }

        &-right {
            width: 50%;
            background-color: white;
            height: 100%;
            border-left: 10px solid black;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            transform-origin: right;
            transform: scaleX(0);
            opacity: 0;
            transition: all 500ms ease;
            box-sizing: border-box;
            overflow-y: auto;
            gap: 25px;

            @include XL {
                width: 65%;
            }

            @include L {
                width: 75%;
            }

            @include M {
                width: 85%;
            }

            @include S {
                width: 100%;
            }

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: -10px;
                height: 50px;
                width: 10px;
                background-color: white;
                z-index: 25;
                animation: bannerBorder 5s ease infinite;
            }


            &-animate {
                transform: scaleX(1);
                opacity: 1;
            }

            &-animateReturn {
                opacity: 0;
                transform: scaleX(0);
            }

            &-top {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 25px;

                &-title {
                    font-size: 20px;
                    text-transform: uppercase;
                    letter-spacing: 1px;

                    @include M {
                        font-size: 18px;
                    }

                    @include S {
                        font-size: 16px;
                    }
                }

                &-close {
                    position: absolute;
                    cursor: pointer;
                    height: 20px;
                    width: 20px;
                    right: 25px;
                    top: 25px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: all 350ms ease;

                    &:hover {
                        transform: scale(1.2) translateY(-5px);
                    }
                    
                    &::before {
                        width: 20px;
                        height: 3px;
                        content: "";
                        background-color: #000000;
                        transform: rotate(135deg);
                        transform-origin: center;
                        position: absolute;
                    }

                    &::after {
                        width: 20px;
                        height: 3px;
                        content: "";
                        background-color: #000000;
                        transform: rotate(45deg);
                        position: absolute;
                    }
                }
            }

            &-row {
                display: flex;
                align-items: center;
                flex-direction: column;
                padding: 0 25px;
                gap: 20px;
                box-sizing: border-box;

                @include S {
                    padding: 0 20px;
                }
                
                &:nth-child(3) {
                    background-color: rgba($color: #000000, $alpha: 0.7);
                    color: white;
                    padding: 30px;
                    box-sizing: border-box;

                    @include S {
                        padding: 20px;
                    }
                }

                &-image {
                    box-shadow: 0 0 6px rgba($color: #000000, $alpha: 0.3);
                    border-radius: 5px;

                    @include S {
                        width: 100%;
                        height: 100%;
                    }
                }

                &-title {
                    font-size: 16px;
                    text-transform: uppercase;
                    width: 100%;
                    text-align: left;

                    @include S {
                        font-size: 14px;
                    }
                }

                &-container {
                    display: flex;
                    justify-content: flex-start;
                    width: 100%;
                    gap: 20px;

                    @include S {
                        flex-direction: column;
                        gap: 5px;
                    }

                    &-title {
                        width: 25%;
                        text-align: right;
                        text-transform: uppercase;
                        font-size: 14px;
                        font-weight: 700;

                        @include S {
                            font-size: 12px;
                            width: 100%;
                            text-align: left;
                        }
                    }

                    &-text {
                        width: 75%;
                        text-align: justify;
                        font-size: 15px;
                        line-height: 1.5;

                        @include S {
                            font-size: 13px;
                            width: 100%;
                        }
                    }

                    &-left {
                        width: 25%;
                        display: flex;
                        justify-content: flex-end;

                        @include S {
                            width: 100%;
                        }

                        &-title {
                            font-size: 14px;
                            font-weight: 700;
                            text-transform: uppercase;

                            @include S {
                                font-size: 12px;
                                width: 100%;
                            }
                        }
                    }

                    &-right {
                        display: flex;
                        width: 75%;
                        gap: 25px;

                        @include S {
                            width: 100%;
                            gap: 15px;
                            justify-content: center;
                        }

                        &-stackImage {

                            @include S {
                                width: 30px;
                                height: 30px;
                                margin-top: 10px;
                            }
                        }
                    }
                }
            }

            &-bottom {
                display: flex;
                justify-content: center;
                gap: 25px;

                &-link {

                    &-image {
                        width: 30px;
                        height: 30px;
                        transition: all 350ms ease;
                        cursor: pointer;
    
                        &:hover {
                            transform: scale(1.1) translateY(-5px);
                        }
                    }
                }
            }

            &-navigate {
                display: flex;
                justify-content: center;
                gap: 50px;
                padding: 0 25px 25px 25px;

                @include S {
                    gap: 15px;
                    padding: 0 15px 15px 15px ;
                    flex-direction: column;
                    align-items: center;
                }

                &-buttonLeft {
                    display: flex;
                    align-items: center;
                    gap: 15px;
                    padding: 15px 20px;
                    background-color: rgba($color: #000000, $alpha: 0.7);
                    color: white;
                    border-radius: 5px;
                    font-size: 14px;
                    cursor: pointer;
                    transition: all 500ms ease;

                    @include S {
                        width: 90%;
                        justify-content: center;
                    }

                    &:hover {
                        transform: translateY(-5px) scale(1.05);
                    }
                }

                &-buttonRight {
                    display: flex;
                    align-items: center;
                    gap: 15px;
                    flex-direction: row-reverse;
                    padding: 15px 20px;
                    background-color: rgba($color: #000000, $alpha: 0.7);
                    color: white;
                    border-radius: 5px;
                    font-size: 14px;
                    cursor: pointer;
                    transition: all 500ms ease;

                    &:hover {
                        transform: translateY(-5px) scale(1.05);
                    }

                    @include S {
                        width: 90%;
                        justify-content: center;
                    }
                }
            }
        }
    }
}